
  .fa-youtube {
    background: #bb0000;
    color: white;
  }

   
              
                .box-1 {
                  
                 color: gold;
                 background-color: black;
                 text-shadow:2px 1px grey  ;
                }

                body {
                overflow-x: hidden;
                
                }

                .hd {
                  color: dodgerblue;
                  font-weight: 300;
                  
                  text-shadow: 2px 1px wheat;
                }

                
  