
  /* .fa-youtube {
    background: #bb0000;
    color: white;
  } */

/*    
              
                .box-1 {
                  
                 color: gold;
                 background-color: black;
                 text-shadow:2px 1px grey  ;
                }

                body {
                overflow-x: hidden;
                
                }

                .hd {
                  color: dodgerblue;
                  font-weight: 300;
                  
                  text-shadow: 2px 1px wheat;
                }

                .box-1 {
                  color: white;
                  background-color: cadetblue;
                  text-shadow:2px 4px grey  ;
                 }
 
                 body {
                 overflow-x: hidden;
                 
                 
                 }
 
                 .nav-link{
                   color: white;
                   /* text-shadow: 2px 3px gray; */
                   /* font-size: larger;
                 }
 
                 .nav-link:hover {
                   color: aqua;
                 }
 
                 p {
                   color: white;
                   text-shadow: 2px 4px black;
                 }
                 
                
 
                 .hd {
                   color: black;
                   font-weight: 400;
                   text-shadow: 2px 2px white;
                   
                 }
                  
                 .b {
                   text-shadow: 2px 2px gray;
                 }
 
                 body {
                 overflow-x: hidden;
                 
                 }
 
                 .main {
                   background: url(img/sunrise-in-the-mountains.jpg) no-repeat center center fixed;
                   
                   
                   background-size: cover;
                   animation: myfirst 5s;
                   }
 
                 
                   b1  {
                   color: #fff;
                   text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
                   }
                    .g {
                   color: #fff;
                   text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
                   }
 
                   .g:hover {
                     color: blanchedalmond;
                   } */ 
 

                
  